@import "../css/components/header.css";
@import "../css/components/footer.css";
@import "../css/components/form-create.css";
body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}
body {
  font-family: "New Amsterdam", sans-serif;
  font-weight: 400;
  font-style: normal;
}
main {
  min-height: calc(100vh - 8rem);
}
